.App {
  text-align: center;
}
/* my css  */
.glass_model {
  position: absolute;
  top: 150px;
  left: 470px;
}
.choice {
  display: flex;
  position: absolute;
  bottom: 250px;
  left: 300px;
}
.choice img {
  width: 150px;
  height: 50px;
  margin: 0 30px;
}
.glass_model img {
  width: 130px;
  height: 50px;
}
.model {
  position: absolute;
  top: 10%;
  left: 27%;
}
.model img {
  width: 250px;
  margin-right: 200px;
}
/* ---------------- */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
